// The container is a layout that almost every web application has. It is used to
// center content on the page and limit its maximum width.

.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-right: var(--space-m);
    max-width: 60rem; // 960px
  }
}
